@import 'fons.css';

*{ 
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.header{
    background: url(../img/1.1.jpg) no-repeat center center / cover;
    height: 100vh;
}

.header__title{
    font-size: 34px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'pro';
    line-height: 40px;
}

.box-button{
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    background: transparent;
    border: 1px solid #fff;
    padding: 16px 48px;
}

.header__button{
    margin-top: 108px;
}

.header__block{
    margin-top: 30%;
}

/* header end */
/* ************************* */
/* adaut start */

.abaut{
    padding: 9px;
    padding-bottom: 192px;
}

.abaut__title{
    font-size: 34px;
    text-transform: uppercase;
    margin-bottom: 75px;
    
}

.abaut__text{
    font-size: 14px;
    color: #868585;
    line-height: 26px;
}

.abaut__web{
    font-size: 22px;
    text-transform: uppercase;
    margin-top: 71px;
    margin-bottom: 37px;
}

.abaut__img{
    margin-top: 102px;
}

/* abaut end */
/* ************************* */
/* portfolio start */

.portfolio{
    padding-top: 109px;
    padding-bottom: 62px;
    background: #f3f3f3;
}

.portfolio__title{
    font-size: 43px;
    color: black;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 241px;
}

.portfolio__img{
    width: 100%;
    margin-top: 21px;
}

.portfoliob__button{
    color: black;
    border: 1px solid black;
    margin-top: 65px;
}

/* portfoliob end */
/* *************************** */
/* bonna start */
.bonna{
    background: url(../img/1.1.jpg) no-repeat center center / cover;
    height: 385px;
}

.bonna__titli{
    font-size: 34px;
    color: #f3f3f3;
    text-transform: uppercase;
    font-family: 'pro';
    line-height: 40px;
    padding-top: 100px;
    text-align: center;
}

.bonna__img{
    margin-top: 100px;
}

/* bonna end */
/* ******************* */
/* conec start */

footer{
    background: #3c3c3c;
    text-transform: uppercase;
    text-align: center;
    padding: 120px 0 100px 0;
}

.conec ul{
    display: flex;
    justify-content: center;
}

.conec ul li{
    margin: 0 10px;
}
